html {
    font-family: sans-serif;
}

h1, h2{
    margin-top: 0;
}
.header {
    height: 10vh;
    width: 100%;
}

.header a {
    height: inherit;
}

.header img {
    height: inherit;
}

.topNav {
    --beforeNav-height: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3.5rem;
    overflow: hidden;
    background-color:oldlace;
}

.topNav.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}

.topNav .dropdown {
    z-index: 999;
    display: inline-block;
}

.topNav .drop-Content {
    display: grid;
    columns: auto;
    overflow: hidden;
    background-color: oldlace;
    position: absolute;
    top: calc(var(--beforeNav-height) + 3.5rem);
    height: 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.topNav.fixed .drop-Content {
    height: 0px;
    position: fixed;
    top: 3.5rem;
}

.topNav .dropdown:hover .drop-Content {
    opacity: 1;
    height: auto;
}

.topNav a{
    float: left;
    padding: 20px 15px;
}

.topNav a:hover {
    background-color: lightgray;
}

a {
    color: black;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: lightgreen;
}