html {
    --bright: rgb(236, 244, 214);
    --division-1: rgb(238, 226, 222);
    --division-2: rgb(158, 184, 217);
    --division-3: rgb(182, 187, 196);
    --division-4: rgb(240, 236, 229);
    --inner-division-1: rgb(124, 147, 195);
    --inner-division-2: rgb(112, 119, 161);
    --inner-division-3: rgb(49, 48, 77);
    --atention-1: rgb(162, 87, 114);
    --atention-2: rgb(22, 26, 48);
    scroll-behavior: smooth;
    font-family: sans-serif;
}

h1, h2{
    margin-top: 0;
}
.header {
    height: 10vh;
    width: 100%;
}

.header a {
    height: inherit;
}

.header img {
    height: inherit;
}

.topNav {
    --beforeNav-height: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3.5rem;
    overflow: hidden;
    background-color: var(--atention-1);
}

.topNav.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}

.topNav .dropdown {
    z-index: 999;
    display: inline-block;
}

.topNav .drop-Content {
    display: grid;
    columns: auto;
    overflow: hidden;
    background-color: var(--atention-1);
    position: absolute;
    top: calc(var(--beforeNav-height) + 3.5rem);
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0 0 20px 20px;
}

.topNav.fixed .drop-Content {
    position: fixed;
    top: 3.5rem;
}

.topNav .dropdown:hover .drop-Content {
    opacity: 1;
}

.topNav a{
    float: left;
    padding: 20px 15px;
}

.topNav a:hover {
    background-color: rgba(10, 10, 10, 0.1);
}

a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0px;
}