#first {
    background-color: rgb(220, 220, 220);
    margin: 0;
    height: 100vh;
    width: 100%;
}

#first img {
    width: 100%;
    height: inherit;
}

#first-info {
    background-color: slategray;
    position: relative;
    top: -75%;
    left: 50%;
    transform: translate(-50%,0);
    width: 300px;
    height: 200px;
    text-align: center;
}

#promociones {
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    height: 90vh;
    grid-template-columns: 5vw auto 5vw;
    align-items: center;
}

.carrousel {
    width: 100%;
    height: 80%;
    transition: opacity 0.2s ease-in-out;
}

.carrousel img {
    width: 100%;
    height: 100%;
}

.promo {
    transition: all ease-in-out 1s;
}

.fade-out {
    opacity: 0;
}

.carrousel p {
    position: relative;
    bottom: 7em;
    text-align: center;
}
.carrousel h2 {
    position: relative;
    top: 0;
    text-align: center;
}

#promociones button {
    width: 10%;
    height: 80%;
}

#second {
    background-color: rgb(220, 220, 220);
    padding: 2vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
}

#second img {
    width: inherit;
    height: var(width);
}
.grow-panels {
    --width: 450px;
    --height: 75vh;
    --grow-percent: 8;
    --margin: 10px;
    --x-margin: max(calc(var(--width)*(var(--grow-percent)/200)) + var(--margin), var(--margin));
    --y-margin: max(calc(var(--height)*(var(--grow-percent)/200)) + var(--margin), var(--margin));
    float:inline-start;
    margin: var(--y-margin) var(--x-margin);
    background-color: slategray;
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    font-size: 100%;
    box-shadow: 10px;
    transition: all .2s ease-in-out;
}
.grow-panels:hover {
    margin: calc(var(--y-margin) - var(--height) * (var(--grow-percent)/200)) calc(var(--x-margin) - var(--width) * (var(--grow-percent)/200));
    height: calc(var(--height) * (1 + var(--grow-percent)/100));
    width: calc(var(--width) * (1 + var(--grow-percent)/100));
    font-size: calc(100% + var(--grow-percent));
}

#contacto {
    background-color: black;
    padding-top: 5vh;
    padding-top: 5svh;
    color: white;
    height: 50vh;
    width: 100%;
}

#contacto h1 {
    text-indent: 25px;
}

#contacto p {
    text-indent: 50px;
}