#first {
    background-color: red;
    margin: 0;
    height: 80vh;
    width: 100%;
}

#first img {
    width: 100%;
    height: inherit;
}

#first-info {
    background-color: crimson;
    position: relative;
    top: -75%;
    left: 50%;
    transform: translate(-50%,0);
    width: 300px;
    height: 200px;
    text-align: center;
}

#promociones {
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    height: 90vh;
    grid-template-columns: 5vw auto 5vw;
    align-items: center;
}

.carrousel {
    width: 100%;
    height: 80%;
    transition: opacity 0.2s ease-in-out;
}
.carrousel img {
    width: 100%;
    height: 100%;
}
.carrousel p {
    position: relative;
    bottom: 3.5em;
    text-align: center;
}

#promociones button {
    width: 10%;
    height: 80%;
}

#second {
    background-color: indigo;
    padding: 2vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
}

#second img {
    width: inherit;
    height: var(width);
}
.grow-panels {
    --width: 300px;
    --height: 400px;
    --grow-percent: 5;
    --margin: 10px;
    --x-margin: max(calc(var(--width)*(var(--grow-percent)/200)) + var(--margin), var(--margin));
    --y-margin: max(calc(var(--height)*(var(--grow-percent)/200)) + var(--margin), var(--margin));
    float:inline-start;
    margin: var(--y-margin) var(--x-margin);
    background-color: blueviolet;
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    font-size: 100%;
    transition: all .2s ease-in-out;
}
.grow-panels:hover {
    margin: calc(var(--y-margin) - var(--height) * (var(--grow-percent)/200)) calc(var(--x-margin) - var(--width) * (var(--grow-percent)/200));
    height: calc(var(--height) * (1 + var(--grow-percent)/100));
    width: calc(var(--width) * (1 + var(--grow-percent)/100));
    font-size: calc(100% + var(--grow-percent));
}